{% extends ea.templatePath('layout') %}
{% block content %}
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Form Wizards</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Form Wizards</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="card-box mb-30">
            <div class="pd-20">
                <h4 class="text-blue h4">Data Table with Export Buttons</h4>
            </div>
            <div class="pb-20">
                <table class="table hover multiple-select-row data-table-export nowrap">
                    <thead>
                    <tr>
                        <th class="table-plus datatable-nosort">ID</th>
                        <th>Civil Number</th>
                        <th >Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Visit</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{ include('admin/_booking.html.twig') }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
