{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <a href="">Create new booking</a>

    <div id="calendar-holder"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: true,
                selectable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: null
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
                events: [
                    {
                        start: "2020-08-18",
                        end: "2020-08-18",
                        color: 'red',
                        rendering: 'background',
                        //dow: [1],
                    },
                ],
                eventOverlap: function(stillEvent, movingEvent) {
                    return stillEvent.allDay && movingEvent.allDay;
                },
                firstDay:0,
                businessHours: {
                    start: '06:00', // a start time (6am in this example)
                    end: '18:00', // an end time (6pm in this example)
                    dow: [ 0, 1, 2, 3, 4, 6] // days of week (here monday till friday)
                },
                selectConstraint: {
                    start: moment().format('YYYY-MM-DD'),
                    end: '2100-01-01',
                    color: 'red',
                    rendering: 'background',
                }
            });
            calendar.render();
        });
    </script>
{% endblock %}